body {
    background-color: #EBEAE7;
    color: #534242;
    margin: 0;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-family: "Aleo", serif;
    font-weight: 400;
    font-style: normal;
    color: #534242;
    margin-top: 48px;
    margin-bottom: 32px;
}

a:hover {
    cursor: pointer;
}

.aleo {
    font-family: "Aleo", serif;
    font-weight: 400;
    font-style: normal;
}

.jost {
    font-family: "Jost", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
}

#bookshelf {
    display: grid;
    grid-template: 250px / repeat(5, 164px);
    grid-auto-rows: 250px;
    gap: 16px;
    justify-content: center;   
}

/********** Book card **********/

.book {
    font-family: "Aleo", serif;
    font-weight: 400;
    font-style: normal;

    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px;

    border-radius: 4px;
    background-color: #F6F5F5;
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.18);
}

.book.read {
    border: 2px solid #8F4D4D;
    border-left: 6px solid #8A3535;
    background-color: #AD4242;
    color: #fff;
    
}

.book.read a {
    color: #fff;
}

.book.read .badge.unread {
    display:none;
}

.book:not(.read) .badge.read {
    display:none;
}

.book.read a.book-markRead {
    display:none;
}

.book:not(.read) a.book-markUnread {
    display:none;
}

.book h2 {
    font-size: 20px;
    margin: 0 0 8px 0;
    font-weight: 400;
}

.book p {
    margin: 0;
    font-size: 14px;
}

.book a {
    color: #534242;
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    text-decoration: none;
    letter-spacing: -0.02rem;
}

.book a:hover {
    text-decoration: underline;
}

.book-bottom {
    text-align: right;
    opacity: 0;
    transition: opacity 0.15s ease;
}

.book:hover .book-bottom{
    opacity: 100%;
}

.badge {
    position: absolute;
    background: rgba(0, 0, 0, 0.08);
    padding: 2px 4px;
    border-radius: 2px;
    font-size: 13px;
    right: 8px;
}

/********** Add Book card button **********/

#addBook {
    background-color: #F6F5F5;
    border: none;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    transition: box-shadow 0.15s ease;
}

#addBook img {
    opacity: 0.5;
    width: 40px;
    transition: opacity 0.15s ease;
}

#addBook:hover {
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.18);
    cursor: pointer;
}

#addBook:hover img {
    opacity: 1;
}

#modal-addBook {
    position:relative;
    width:292px;
    border-radius: 4px;
    background-color: #F6F5F5;
    padding: 36px;
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.18);

    display:flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 100;
}

#modal-addBook form {
    text-align: left;
}

#modal-addBook h2 {
    font-family: "Aleo", serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 0;
}

#add-close {
    display:block;
    position: absolute;
    top: 16px;
    right: 16px;

    background: none;
    border: none;    
    cursor: pointer;
}

#modal-addBook label {
    font-family: Jost;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
}

#modal-addBook .textField {
    padding: 8px;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    margin-bottom: 16px;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    width: 100%;
    box-sizing: border-box;
}

modal-addBook #add-pages {
    width: 70px !important;
}

#modal-addBook .radio {
    display: flex;
    flex-direction: row;
    justify-items: center;
    font-size: 14px;
    gap:4px;
}

#modal-addBook #add-button {
    border-radius: 4px;
    color: #ffffff;
    background: #534242;
    width:100%;
    padding: 8px;
    font-family: Jost;
    font-size: 14px;
    font-weight: 500;
    margin-top: 24px;
    cursor: pointer;
}

#scrim {
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background-color:rgba(0, 0, 0, 0.4);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.hide {
    display: none !important;
}